
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top:50px;
    width: 45%;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-task {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.take-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5c67f2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover {
    background-color: #4a54e1;
}

.listTask {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.listTask li {
    background: #fff;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.listTask li:hover {
    background: #f9f9f9;
}



#all-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#all-btn button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #5c67f2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

#all-btn button:hover {
    background: #4a54e1;
}

#clear {
    background: #ff4d4d;
}

#clear:hover {
    background: #e63939;
}
